MT_MCU_OSC_VLT_DIV_R1=51700.0f
MT_MCU_OSC_VLT_DIV_R2=10000.0f
MT_MCU_OSC_ADC_CHANNEL_1=ADC1_CHANNEL_6
MT_MCU_OSC_ADC_ATTEN=ADC_ATTEN_DB_0
MT_MCU_OSC_ADC_WIDTH=ADC_WIDTH_BIT_12
MTCP_UART_TX_PIN=17
MTCP_UART_RX_PIN=16
MTCP_UART_PORT=UART_NUM_2
MTCP_UART_DETECTION_PIN=22